# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.gwallet.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\afshi\source\repos\geewallet\.idea\.idea.gwallet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
