<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net452" />
  <package id="CryptSharpOfficial" version="2.1.0.0" targetFramework="net452" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net451" />
  <package id="FSharp.Data" version="2.3.3" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net452" />
  <package id="NBitcoin" version="4.0.0.51" targetFramework="net452" />
  <package id="NBitcoin.Litecoin" version="1.0.0.9" targetFramework="net452" />
  <package id="Nethereum.ABI" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Accounts" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Contracts" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Hex" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.JsonRpc.Client" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.JsonRpc.RpcClient" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.KeyStore" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.RLP" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.RPC" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Signer" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.StandardTokenEIP20" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Util" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Nethereum.Web3" version="3.0.0-CI-20180815-082224" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="SharpRaven" version="2.4.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>