<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- HACK: Nethereum.Portable actually depends on BouncyCastle Portable (not normal BouncyCastle like below),
             but the latter can only be retreived with a very bleeding edge nuget version (newer than what
             Ubuntu16.04 ships) so we add this manually below and rename in a post-build step (see the .fsproj) -->
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
</packages>