<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.7.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net472" />
  <package id="NBitcoin" version="5.0.41" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Collections" version="4.0.11" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net472" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net472" />
  <package id="System.Linq" version="4.1.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net472" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net472" />
</packages>