<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BTCPayServer.Lightning.All" version="1.3.10" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.Charge" version="1.3.6" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.CLightning" version="1.3.7" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.Common" version="1.3.6" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.Eclair" version="1.3.6" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.LND" version="1.3.7" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.LNBank" version="1.3.8" targetFramework="net472" />
  <package id="BTCPayServer.Lightning.LNDhub" version="1.0.0" targetFramework="net472" />
  <package id="DotNetLightning.Kiss" version="1.1.9-date20220823-0437-git-b67e13f" targetFramework="net472" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net472" />
  <package id="FSharpx.Collections" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.2" targetFramework="net46" />
  <package id="NBitcoin" version="6.0.19" targetFramework="net472" />
  <package id="NBitcoin.Altcoins" version="3.0.8" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.10" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Linq" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net46" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net472" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="5.0.1" targetFramework="net472" />
  <package id="System.Threading.Channels" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>