<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net46" />
  <package id="FSharp.Core" version="4.2.3" targetFramework="net46" />
  <package id="NBitcoin" version="4.0.0.51" targetFramework="net46" />
  <package id="Nethereum.Hex" version="3.0.0-CI-20180914-144604" targetFramework="net46" />
  <package id="Nethereum.RLP" version="3.0.0-CI-20180914-144604" targetFramework="net46" />
  <package id="Nethereum.Signer" version="3.0.0-CI-20180914-144604" targetFramework="net46" />
  <package id="Nethereum.Util" version="3.0.0-CI-20180914-144604" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net46" requireReinstallation="true" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net46" />
</packages>