<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="6.0.1" targetFramework="netstandard20" />
  <package id="ElectrumSharp" version="0.0.0.2--date20240416-0821.git-3367808" targetFramework="netstandard20" />
  <package id="StreamJsonRpc" version="2.17.11" targetFramework="netstandard20" />
  <package id="Fsdk" version="0.6.0--date20230530-1155.git-3bb8d08" targetFramework="net46" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="netstandard20" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="netstandard20" />
  <package id="Microsoft.VisualStudio.Threading" version="17.7.35" targetFramework="netstandard20" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="17.7.35" targetFramework="netstandard20" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.Validation" version="17.6.11" targetFramework="netstandard20" />
  <package id="MessagePack" version="2.5.108" targetFramework="netstandard20" />
  <package id="MessagePack.Annotations" version="2.5.108" targetFramework="netstandard20" />
  <package id="NBitcoin" version="6.0.17" targetFramework="net471" />
  <package id="NBitcoin.Altcoins" version="3.0.8" targetFramework="net452" />
  <package id="Nerdbank.Streams" version="2.10.69" targetFramework="netstandard20" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net46" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="7.0.0" targetFramework="netstandard20" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="7.0.2" targetFramework="netstandard20" />
  <package id="System.IO.Pipelines" version="7.0.0" targetFramework="netstandard20" />  
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq" version="4.3.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.5" targetFramework="netstandard20" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="netstandard20" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="netstandard20" />  
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="netstandard20" />
  <package id="System.Text.Json" version="7.0.3" targetFramework="netstandard20" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="netstandard20" />
</packages>
